a{
    color: black;
}
#nav ul li:hover{
    transition-duration: .5s;
    color: blue;
    transform: scale(1.1);
    cursor: pointer;

}
#name1{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 25px;
    
    color:black;
}
#name td{
    margin-left: 0px;   
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name2{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left :80px;
    color: black;
}
#name3{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left :80px;   
}
.btn{
    margin-left: 30%;
    margin-top: 10px;
    height:40px;
    width:40%;
    border: none;
    border: 1px solid black;
    border-radius: 40px;
    font-size: larger;
    transition-duration: 1s;
    box-shadow:0 0 5px;
}
.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.price{
    font-weight: bolder;
    margin-left:140px;
}
.travel{
    font-size: larger;
}
#img1{
    font-size: 22px;
    /* margin-left: 150px; */
}
#img2{
    font-size: 22px;
}
#img3{
    font-size: 22px;
}