*{
    padding: 0px;
    box-sizing: border-box;
    margin-top: 0px;
    background-color: black;
}
.title{
    top: 0px;
    background-color: black;
    
    
}
.nav2{
    top:0px;
    left: 0px;
    height: 50px;
    width: 200%;
    align-items:center ;
    background-color:lightgray;
    position: relative;
    margin-left: -15px;
    
    
}