* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* login page */

.mdiv {
    height: 100vh;
    width: 100%;
    display: flex;

}

a{
    color: black;
}
#nav ul li:hover{
    transition-duration: .5s;
    color: blue;
    transform: scale(1.1);
    cursor: pointer;

}

#nav{
    height: 12vh;
    width: 100%;
    position: relative;
    background-color: rgb(252, 250, 250);
}
#nav ul{
    display: flex; 
    margin-left: 500px;
     
}

#nav ul li{
    margin-top: 40px;
    font-family: arial black;
    font-size: x-large;
    margin-left: 80px;
    margin-top: 30px;
}
.loc{
    height: 40px;
    width: 40px;
    background-size: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-left: 100px;
    background-image: url('https://toppng.com/uploads/preview/location-png-icon-location-icon-png-free-11562933803vththezlcl.png');
}
.profile,.search,.add0{
    height: 40px;
    width: 40px;
    background-size: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-left: 50px;
    
}
.profile{
    background-image: url('https://cdn-icons-png.flaticon.com/128/1077/1077063.png');
}
.search{
    background-image: url('https://www.freepnglogos.com/uploads/search-png/search-file-ios-svg-wikimedia-commons-18.png');
}
.add0{
    background-image: url('https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png');
    background-repeat: no-repeat;
}


.sign-in {
    margin-top: 7vh;
    height: 450px;
    width: 50%;
    
}

.sign {

    margin-top: 80px;
    margin-left: 8%;
    font-family: sans-serif;
    font-size: 100px
}

.sign-in p {
    margin-left: 8.5%;
    font-size: 20px;
    font-family: sans-serif;
}

::placeholder {
    color: black;
}

.inp {
    font-size: 20px;
    margin-left: 8%;
    height: 70px;
    width: 80%;
    border-radius: 40px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, rgb(235, 34, 68), rgb(228, 54, 83), rgb(231, 140, 21), rgba(243, 142, 26, 0.897));
    color: white;
}

.sbtn {
    margin-left: 8%;
    height: 55px;
    width: 35%;
    border: none;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 25px;
    transition-duration: 1s;
    box-shadow: 0 0 15px black;
}

.sbtn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.sign-up {
    height: 450px;
    width: 50%;
    
    /* border-left: 2px solid rgb(245, 245, 245); */
}

:link {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
   
}

.sign-up {
    margin-top: 8vh;
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;

}

.heading {
    margin-top: 160px;
    font-size: 80px;
    
}

.sbtn1 {
    height: 55px;
    width: 35%;
    border: none;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 25px;
    transition-duration: 1s;

}

.sbtn1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* login page end */



/* create account */

.form1 input {

    border: none;
    outline: none;
    border-bottom: 1px solid black;
    height: 70px;
    width: 800px;
    margin-left: 140px;
    font-size: 20px;
}

.acc{
    margin-top: 150px;
    font-family: sans-serif;
    margin-left: 80px;
    font-size: 60px;
}


.custo{
    font-family: sans-serif;
    margin-left: 80px;
    font-size: 20px;
}
.showbtn{
    border: none;
    outline: none;
    margin-left: 80px;
    height: 10px;
    width: 50px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, rgb(235, 34, 68), rgb(228, 54, 83), rgb(231, 140, 21), rgba(243, 142, 26, 0.897));
}


.submit{
    border: none;
    outline: none;
    height: 55px;
    width: 20%;
    border-radius: 20px;
    border: 2px solid black;
    transition-duration: 1s;
    font-family: sans-serif;
    margin-left: 39%;
    font-size: 25px;
}
.submit:hover{
    background-color: black;
    color: white;

}

/* create account end */